body {
    background-color: rgba(31, 41, 55, 1);
    font-family: 'Karla', sans-serif;
    color: white;
    padding: 115px 52px;
}

button {
    width: 191px;
    height: 42px;
    font: 'inter';
    font-size: 16px;
    background-color: rgba(16, 185, 129, 1);
    color: white;
    border-radius: 6px;
    border: 0px;
    margin-top: 51px;
}

h1 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 0px;
} 

p {
    font-size: 20px;
}

.random {
    color: rgba(16, 185, 129, 1);
    margin-top: 0px;
}

#password1 {
    width: 211px;
    height: 39px;
    background-color: rgba(39, 53, 73, 1);
    border-radius: 6px;
    margin-right: 24px;
    margin-top: 35px;
    padding: 4px 8px;
    text-align: center;
    align-content: center;
    color: rgba(85, 249, 145, 1);
    font-family: 'inter';
}

#password2 {
    width: 211px;
    height: 39px;
    background-color: rgba(39, 53, 73, 1);
    border-radius: 6px;
    margin-left: 24px;
    margin-top: 35px;
    padding: 4px 8px;
    text-align: center;
    align-content: center;
    color: rgba(85, 249, 145, 1);
    font-family: 'inter';
}

.generated {
    display: flex;
    margin-top: 35px;
    padding-bottom: 35px;
    border-top: 2px solid rgba(39, 53, 73, 1);
    width: 446px;
}
